{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}Edit Profile Page{% endblock %}
</head>
<body>
{% block content %}
{% if user.is_authenticated %}
{% if user.id == profile.user.id %}

<h1>Edit Profile Page...</h1>
<br/><br/>
<div class="form-group">
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-warning">Update Profile Page</button>
</form>
    </div>
{% else %}
You are not allowed to edit this page!
<br/>
{% endif %}
{% else %}
You are not allowed here you know!
{% endif %}


{% endblock %}
</body>
</html>